* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* .list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background: rgb(245, 245, 68);
}

.list-group {
    width: 800px;
    margin: auto;
    transition: 1s;
}

.active {
    transform: translateY(-220px);
    transition: 1s;
} */

.box{
    background: rgb(85, 85, 234);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3{
    margin: 0px;
    color: white;
}

.btn_group{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}